  <!--Footer-->

  <footer class="footer_main">

    <div class="footer_top_names">

      <div class="mobile_wrap_f">
      <div class="footer_top_geo">
        <p class="GeoFooter">GEORAIL</p>
      </div>      
    
      <div class="toggle-switch">
        <label class="switch-label">
          <input type="checkbox" class="checkbox" id="toggleSwitch">
          <span class="slider"></span>
        </label>
      </div>  
    </div>

      <div class="language_wrapper">
        <i class="fa-solid fa-earth-europe" style="width: 30px; color: var(--font);"></i>
        <div class="language-switcher">
          <div class="selected-lang">
              <span class="lang-name">English</span>
              <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="lang-options-container hidden">
              <div class="lang-options">
              </div>
          </div>
        </div>
    </div>


    </div>

    </div>
  </footer>

  <script src="/assets/js/themeswitch.js" rel="preconnect"></script>