   <link href="/assets/css/nav.css" rel="stylesheet" rel="preload">
   <script src="/assets/js/mobilemenu.js" rel="preconnect"></script>

   <!--Navbar-->

   <div class="nav_container">
    <div class="nav_main">
      
      <div class="nav_content">
        <li class="nav_logo_1"><img src="/assets/img/Geo.svg" alt="logo" class="nav_logo"><a href="./index" class="nav_logo_text">GeoRail</a></li>
        <li class="nav_divider_"><div class="nav_divider"></div></li>
        <li><a href="#about" class="nav_link" id="nav_about" data-translate-id="nav_about">About</a></li>
        <li class="nav_dropdown_main">
          <a href="#" class="nav_link"><span id="nav_server" data-translate-id="nav_server">Server</span> <i class="fa-solid fa-caret-down" style="transition: 0s all;"></i> </a>
            <ul class="nav_dropdown">

              <li><a href="./map" class="nav_link" id="nav_dynmap" data-translate-id="nav_dynmap">Dynmap</a></li>
              <li><a href="./system" class="nav_link" id="nav_sysmap" data-translate-id="nav_sysmap">System map</a></li>
              <li><a href="./join" class="nav_link" id="nav_joininstructions" data-translate-id="nav_joininstructions">How to join?</a></li>
              <li><a href="https://discord.gg/hNnkANUz8S" class="nav_link" id="nav_discord" data-translate-id="nav_discord">Discord</a></li>

            </ul>
          


        </li>

        <li>
          <a href="./cities" class="nav_link" id="nav_cities" data-translate-id="nav_cities">Cities</a>
        </li>

        <li>
          <a href="./railways" class="nav_link" id="nav_railways" data-translate-id="nav_railways">Railways</a>
        </li>
      </div>

      <li class="nav_burger" id="nav_burger">
        <i class="fa-solid fa-bars"></i>
      </li>
    </div>

  </div>

  <div class="mobilenav" id="mobnav">
    <div class="mobilenav_content">
      <li><a href="#about" class="nav_link" id="mobnav_about" data-translate-id="nav_about">About</a></li>
      <li><a href="./dynmap" class="nav_link" id="mobnav_dynmap" data-translate-id="nav_dynmap">Dynmap</a></li>
      <li><a href="./system" class="nav_link" id="mobnav_sysmap" data-translate-id="nav_sysmap">System map</a></li>
      <li><a href="./join" class="nav_link" id="mobnav_joininstructions" data-translate-id="nav_joininstructions">How to join?</a></li>
      <li><a href="https://discord.gg/hNnkANUz8S" class="nav_link" id="mobnav_discord" data-translate-id="nav_discord">Discord</a></li>
      <li><a href="./cities" class="nav_link" id="mobnav_cities" data-translate-id="nav_cities">Cities</a></li>
      <li><a href="./railways" class="nav_link" id="mobnav_railways" data-translate-id="nav_railways">Railways</a></li>
    </div>
  </div>

