.html {
	margin: 0;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

body {
	margin: 0;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.header_menu {
	display: flex;
	justify-content: center;

	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px) saturate(150%);
	width: 100%;
	height: fit-content;
	padding: 10px 0px;
	position: fixed;
	z-index: 5;
	min-height: 60px;
}

.logo_menu_box{
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo_menu{
	height: 100%;
	align-self: center;
	transition: all 0.2s ease-in-out;
}

.logo_menu:hover{
	height: 90%;
	transition: all 0.2s ease-in-out;
}

.hero{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 1s ease-in-out;
	background-color: black;
}

.hero_title{
	font-size: 5em;
	color: white;
	text-shadow: 0px 0px 50px rgb(184, 184, 184);
	z-index: 2;
	margin: 0;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	z-index: -5;
}

#background1 {
	z-index: 1;
	opacity: 1; /* Starts fully visible */
}

#background2 {
	z-index: 0;
	opacity: 0; /* Starts hidden */
}

.hero_description{
	font-size: 1.5em;
	color: white;
	z-index: 2;
	margin: 0;
}

.logo_menu_text{
	font-size: 1em;
	color: white;
	z-index: 2;
	margin: 0;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	padding: 0 20px;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	.logo_menu_text{
		padding: 0 10px;
	}
	.header_menu{
		padding: 10px 5px;
	}
	.logo_menu_box{
		height: 1.5em;
	}

	.logo_menu_text{
		font-size: .8em;
	}

	.hero_title{
		font-size: 3.5em;
	}

	.hero_description{
		font-size: 1.2em;
	}
  }

.logo_menu_text:hover{
	font-size: .9em;
	transition: all 0.2s ease-in-out;
}

.footer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	align-items: center;
	background-color: #5960FF;
	backdrop-filter: blur(10px) saturate(150%);
	width: 100%;
	height: fit-content;
	padding: 40px 0px;
	bottom: 0;
	z-index: 5;
	min-height: 60px;
}

.about_section{
	font-size: 1em;
	color: rgb(0, 0, 0);
	z-index: 2;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about_description{
	font-size: 1em;
	color: rgb(0, 0, 0);
	z-index: 2;
	text-align: center;
	padding: 0px 30px;
}

.about_title{
	font-size: 3.5em;
	color: rgb(0, 0, 0);
	z-index: 2;
	margin: 20px 0 0px 0;
	text-align: center;
}