@import url('https://fonts.cdnfonts.com/css/sofia-pro');


:root {
    /** ** ** ** ** Color Schemes ** ** ** ** **/

    /** Dark Theme - Backgrounds **/

    --background : #0f0f0f;
    --background-secondary : #1E1E1E;
    --black : #000000;
    --gray : #717171;
    --white : #ffffff;

    /** Dark Theme - Text and colors **/

    --text : #ffffff;
    --text2 : #ffffff;
    --nav-text : #ffffff;
    --primary : #FFBC40;
    --secondary : #F2A310;
    --tertiary : #3457CA;
    --primary-gradient : linear-gradient(120deg, #FFBC40, #F2A310);
    --announcement-banner-gradient : linear-gradient(90deg, #C12345, #F2A310); 
    --accent-header : linear-gradient(120deg, #CA3470, #F2A310);

    --background-dark : 1;
    --background-light : 0;
}

body {
    background: var(--background);
    font-family: 'Sofia Pro', sans-serif;
    transition: all 0.5s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s all;
    font-family: 'Sofia Pro', sans-serif;
}


  /** Toggle Switch **/

  /* From Uiverse.io by Madflows */ 
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    scale: 75%;
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--background);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--background);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--white);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--white);
    box-shadow: inset 12px -4px 0px 0px var(--white);
    background-color: var(--background);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--gray);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /**Hero**/

  .hero_background-dark {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: var(--background-dark);
    display: flex;
    transition: all 0.5s;
    position: absolute;
  }
  
  .hero_background-light {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: var(--background-light);
    display: flex;
    transition: all 0.5s;
    position: absolute;
  }

  .background {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
  }

  .hero_foreground{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  

  /**Footer**/

  .footer_main{
    background-color: var(--background-secondary);
    padding: 10px 20px;
    height: 300px;
    width: 100%;
  }

  .footer_bottom_als{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lang_select_main{
    background-color: var(--background);
    color: var(--text2);
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
  }

  .lang_select_main:focus{
    outline: none;
  }
  .nav_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 10000;
}

.nav_main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10000px;
    background-color: var(--background-secondary);
    z-index: 10000;
    width: 90%;
    height: 60%;
}

.nav_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--text);
}

.nav_content > * {
    width: fit-content;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 1.2em;
    margin-right: 1.2em;
    list-style: none;
    color:var(--text)
}

.nav_logo {
    width: auto;
    height: 80%;
}

.nav_logo_text {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    color: var(--nav-text);
    text-decoration: none;
}

.nav_divider {
    width: 4px;
    height: 50%;
    background-color: var(--black);
    opacity: 25%;
    border-radius: 1000px;
}

.nav_link {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: var(--nav-text);
    text-decoration: none;
}

.nav_dropdown_main {
    position: relative;
    
}

.nav_dropdown_main ul.nav_dropdown {
    width: fit-content;
    background-color: var(--background-secondary);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: none;
    padding: 0;
    list-style: none;
    border-radius: 15px;
    overflow: hidden;
    animation: animate_slidein 0.1s ease-in-out;
}


.nav_dropdown_main ul.nav_dropdown li {
    display: block;
    width: 200px;
}

.nav_dropdown_main ul.nav_dropdown li a {
    display: block;
    padding: 15px 20px;
    color: var(--nav-text);
    text-decoration: none;
    text-align: left;
    background-color: var(--background-secondary);
    color: var(--text);
    
}

.nav_dropdown_main ul.nav_dropdown li a:hover {
    background-color: var(--background);
}

.nav_dropdown_main:hover ul.nav_dropdown {
    display: block;
    color: var(--text);
}

@keyframes animate_slidein {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  

  
@keyframes animate_slideout {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}


.nav_link{
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: var(--text);
  text-decoration: none;
}

.discord_nav:hover{
  color: #7289da;
  transition: 0.5s all;
}