
.language_sel_container{
    display: flex;
    flex-direction: row;
    border-radius: 2000px;
    align-items: center;
    width: fit-content;
    background-color: var(--background-tertiary);
  }
  
  .lang_select_main{
    background-color: var(--background);
    color: var(--text2);
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
  }

  .lang_select_main:focus{
    outline: none;
  }  