.screenshots_main{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 0.5em 4em;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  
  .screenshots_frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    padding: 2em;
    color: var(--text);
    transition: all 0.5s ease;
    overflow: hidden;
    justify-content: center;
    background: var(--background-secondary);
    background-size: cover;
    background-position: center right;
  }
  
  .ss_button_about{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border-radius: 10000px;
    border: none;
    background: var(--secondary-gradient);
    color: var(--white);
    transition: 0.5s all;
    outline: none;
    cursor: pointer;
    width: fit-content;
    position: relative;
  }
  
  .ss_button_arrow{
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
    margin-left: 5%;
    animation: bounce-r 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  .ss_button_about:hover .ss_button_arrow{
    opacity: 1;
    
    transition: 0.5s all;
  }
  
  .ss_button_about:hover{
    padding: 1rem 6.5rem;
  }
  
  .ss_banter{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-decoration: none;
    margin: 0 0 15px 0;
    color: var(--text);
    transition: 0.5s all;
  }
  
  .ss_subtitle{
    font-family: 'Sofia Pro', sans-serif;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 1);
    font-weight: 350;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text);
    transition: 0.5s all;
  }
  
  .ssb_title{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--text);
    position: relative;
    width: fit-content;
    margin-bottom: 0.6em;
  }
  
  .ssb_title::after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: inherit;
    left: 0;
    bottom: 7px;
    background: var(--primary-gradient);
    margin: 0;
    margin-top: 2px;
  }