#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(/assets/img/avotovo.jpeg);
    background-image: url(/assets/img/forest-damaia.jpeg);
    background-image: url(/assets/img/geostar.jpeg);
    background-image: url(/assets/img/forest.jpeg);
    background-image: url(/assets/img/jachowice-c.jpeg);
    background-image: url(/assets/img/jachowice-miłoszczowo.jpeg);
    background-image: url(/assets/img/jachowice-stare-miasto.jpeg);
    background-image: url(/assets/img/spawn.jpeg);
    background-image: url(/assets/img/tobolsk.jpeg);
    background-image: url(/assets/img/trahan.jpeg);

}